asgiref==3.6.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
css==0.1
Django==4.2.1
django-cors-headers==4.2.0
djangorestframework==3.14.0
futures==3.0.5
goslate==1.5.4
idna==3.4
numpy==1.24.3
pandas==2.1.3
Pillow==9.5.0
psycopg2==2.9.7
PyDictionary==2.0.1
pygame==2.5.2
python-dateutil==2.8.2
PythonTurtle==0.3.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.6
